---
import LayoutPages from "@/layouts/LayoutPages.astro";

import { TEAMS } from "@/const/teams"
---

<LayoutPages title="Posiciones">
    <section>
        <div class="mb-10">
            <h1 class="font-bold font-dosis uppercase text-2xl mb-2">
                Posiciones
            </h1>
            <div class="text-gray-400 font-semibold font-dosis uppercase text-base mb-4 flex div-title">
                <h2 class=" relative div-menu">
                    <a href="positions">
                        Clausura 2024
                    </a>
                </h2>
                <h2 class="ms-8  text-secondary border-b-2 border-black relative ">
                    Tabla anual
                </h2>
            </div>
            <div>
                <table class="w-full text-center font-roboto">
                    <thead class="bg-gray-600 text-primary">
                        <tr>
                            <th class="">POS</th>
                            <th class="text-start">EQUIPO</th>
                            <th class="">PTS</th>
                            <th class="">PJ</th>
                            <th class="">G</th>
                            <th class="">E</th>
                            <th class="">P</th>
                            <th class="">GF</th>
                            <th class="">GC</th>
                            <th class="">DG</th>
                        </tr>
                    </thead>
                    <tbody class="border-[1px] border-gray-300">
                        {
                            TEAMS.sort((a, b) => ((a.won*3)+a.tied) - ((b.won*3)+b.tied))
                                .sort((a, b) => ((a.goalsInFavor-a.goalsAgainst) - (b.goalsInFavor-b.goalsAgainst)))
                                .map((link, index) => (
                                <tr>
                                    <td>
                                        <p class="border-r-4 border-blue-400">
                                            {index+1}
                                        </p>
                                    </td>
                                    <td class="text-start uppercase">{link.name}</td>
                                    <td>{(link.won*3)+(link.tied)}</td>
                                    <td>{link.games}</td>
                                    <td>{link.won}</td>
                                    <td>{link.tied}</td>
                                    <td>{link.lost}</td>
                                    <td>{link.goalsInFavor}</td>
                                    <td>{link.goalsAgainst}</td>
                                    <td>{link.goalsInFavor - link.goalsAgainst}</td>
                                </tr>
                            ))
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</LayoutPages>

<style>
    table, th, tr, td {
        border: 1px rgb(184, 183, 183) solid;
        padding: 3px 6px; 
    }

    .div-menu:hover{
        color: black;
    }

    .div-menu::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: red;
        transition: all .5s;
    }
    
    .div-menu:hover::before{
        width: 100%;
    }

</style>