---
import LayoutPages from "@/layouts/LayoutPages.astro";

import { TEAMS } from "@/const/teams"
---

<LayoutPages title="Posiciones">
    <section class="mb-10 font-dosis">
        <div>
            <h2 class="font-bold text-5xl my-2 uppercase">
                Posiciones
            </h2>
            <div class="font-semibold uppercase text-base mb-4 flex div-title">
                <h2 class="text-2xl text-secondary border-b-2 border-black relative">
                    Clausura 2024
                </h2>
                <h2 class="text-2xl ms-8 text-gray-400 cursor-pointer trans-border relative div-menu">
                    <a href="positionsAnual">
                        Tabla anual
                    </a>
                </h2>
            </div>
            <div>
                <table class="w-full text-center font-roboto">
                    <thead class="bg-gray-600 text-primary">
                        <tr>
                            <th class="">POS</th>
                            <th class="text-start">EQUIPO</th>
                            <th class="">PTS</th>
                            <th class="">PJ</th>
                            <th class="">G</th>
                            <th class="">E</th>
                            <th class="">P</th>
                            <th class="">GF</th>
                            <th class="">GC</th>
                            <th class="">DG</th>
                        </tr>
                    </thead>
                    <tbody class="border-[1px] border-gray-300">
                        {
                            TEAMS
                                .sort((a, b) => ((b.lastTournament.goalsInFavor-b.lastTournament.goalsAgainst) - (a.lastTournament.goalsInFavor-a.lastTournament.goalsAgainst)))
                                .sort((a, b) => ((b.lastTournament.won * 3)+b.lastTournament.tied) - ((a.lastTournament.won*3)+a.lastTournament.tied))
                                .map(({name, shortName, lastTournament, anual}, index) => (
                                
                                <tr>
                                    <td>
                                        {
                                            index == 0 &&
                                            <p class="border-r-4 border-green-600">
                                                {index+1}
                                            </p>
                                        }
                                        {
                                            index > 0 && index < 7 &&
                                            <p class="border-r-4 border-blue-500">
                                                {index+1}
                                            </p>
                                        }
                                        {
                                            index >= 7 &&
                                            <p class="border-r-4 border-primary">
                                                {index+1}
                                            </p>
                                        }
                                    </td>
                                    <td class="text-start uppercase">{name}</td>
                                    <td>{(lastTournament.won*3)+(lastTournament.tied)}</td>
                                    <td>{lastTournament.games}</td>
                                    <td>{lastTournament.won}</td>
                                    <td>{lastTournament.tied}</td>
                                    <td>{lastTournament.lost}</td>
                                    <td>{lastTournament.goalsInFavor}</td>
                                    <td>{lastTournament.goalsAgainst}</td>
                                    <td>{lastTournament.goalsInFavor - lastTournament.goalsAgainst}</td>
                                </tr>
                                
                            ))
                        }
                        
                    </tbody>
                </table>
            </div>
            <footer>
                <p class="mt-6 px-2 border-l-4 border-green-600">
                    El primero de la tabla clasifica directamente a semifinales.
                </p>
                <p class="mt-2 px-2 border-l-4 border-blue-500">
                    Del puesto 2 al 7 juegan un repechaje a partido único por 3 lugares en las semifinales: 2° vs 7°, 3° vs 6°, 4° vs 5°.
                </p>
            </footer>
        </div>
    </section>
</LayoutPages>

<style>
    table, th, tr, td {
        border: 1px rgb(184, 183, 183) solid;
        padding: 3px 6px; 
    }

    .div-menu:hover{
        color: black;
    }

    .div-menu::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: red;
        transition: all .5s;
    }
    
    .div-menu:hover::before{
        width: 100%;
    }

</style>